@import '../variables'
@import '../mixins'
@import '../common'
@import '../flex'
@import '../typography'

.title-container
  width: 50%

.text-container
  width: 90%

.home-benefits-image
  position: relative
  width: 100%
