$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif

$mm-color-primary: #78B7C6
$mm-color-secondary: #487d8a
$mm-color-tertiary: #304e55
$mm-white: #FFF
$mm-black: #111
$container-border-radius: 14px
$card-border-radius: 5px
$body-bg-color: #f4f4f4
