$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif

$mm-color-primary: #6F97C5
$mm-color-secondary: #8CB2EF
$mm-color-tertiary: #304e55
$mm-color-pink: #F66F82
$mm-color-pink-sec: #FFCBD2
$mm-white: #FFF
$mm-black: #111
$container-border-radius: 14px
$card-border-radius: 14px
$body-bg-color: #f4f4f4
